<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheSkyXController1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TheSkyXController1.My.MySettings>
            <setting name="LastSequenceFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="PhdTcpPort" serializeAs="String">
                <value>4300</value>
            </setting>
            <setting name="PhdSettlingTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PhdGeneralTimeout" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PhdUseJson" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PhdDitherBy" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageSequenceFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageSequenceFileInitialFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="target1" serializeAs="String">
                <value />
            </setting>
            <setting name="target2" serializeAs="String">
                <value />
            </setting>
            <setting name="target3" serializeAs="String">
                <value />
            </setting>
            <setting name="target4" serializeAs="String">
                <value />
            </setting>
            <setting name="target5" serializeAs="String">
                <value />
            </setting>
            <setting name="target6" serializeAs="String">
                <value />
            </setting>
        </TheSkyXController1.My.MySettings>
    </userSettings>
</configuration>